.tablePosition {
    display: flex;
    border: 1px solid grey;
    border-radius: 4px;
    margin-bottom: 5%;
    font-size: larger;
}

.tableCell {
    border-right: 1px solid gray;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.135);
}

.tableCell_name {
    border-right: 1px solid gray;
    width: 100px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.135);
}

.lastTableCell {
    border: none !important;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

