.footerContainer-mb {
    width: 100%;
    min-height: 100px;
    margin-top: 20%;
    background-color: black;
    color: gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
}