body {
    font-size: medium;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    background-color: rgb(18, 0, 26);
    color: whitesmoke;
}

.headerElement {
    border-right: 1px solid transparent;
    width: 75px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.headerElement_name {
    border-right: 1px solid transparent;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.headerContainer {
    color: gray;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    border-bottom: 2px solid rgb(100, 100, 100);
    position: relative;
}

.header {
    font-size: x-large;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.innerContainer {
    width: max-content;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: block;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
    margin-top: 2%;
}

.statContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.outerStatContainer {
    /*border: 1px solid gray;*/
    width: 300px;
    padding: 2%;
    border-radius: 8px;
    font-weight: 300;
    font-size: larger;
    font-variant: small-caps;
}

.logo {
    background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    margin: 10px;
    height: 200px;
    width: 200px;

    box-shadow: 0 0 0 0 rgb(0 ,60 ,130);
    transform: scale(1);
    animation: pulse 2s infinite;
} 

.logo_link {
    margin-right: 10%;
}



@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0 ,60 ,130, 0.5);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 2px rgb(0, 60 ,130);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(0 60, 130);
    }
}

.showStandings_btn {
    background: none;
    color: gray;
    border: none;
}

.showStandings_btn:hover {
    background: none;
    color: white;
    cursor: pointer;
    border: none;
}

.dg_fixtureContainer {
    display: block;
    font-size: small;
    text-align: end;
}

.dg_date {
    font-size: xx-small;
}

.dg_fixture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30%;
}

.dg_home {
    display: flex;
    align-items: center;
    margin: 5%;
    height: fit-content;
}

.dg_home>img {
    width: 20px;
    height: 20px;
    margin: 5%;
}

.dg_away {
    display: flex;
    align-items: center;
    margin: 5%;
    height: fit-content;
}

.dg_away>img {
    width: 20px;
    height: 20px;
    margin: 5%;
}
